html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    text-align: center;
}

p {
    font-size: 3em;
}

.shadow1 {
    text-shadow: 5px 4px 5px #333;
}

.shadow2 {
    text-shadow: 5px 4px 2px red, 10px 8px 2px blue;
}

.shadow3 {
    color: white;
    text-shadow: -1px -1px 1px green, 1px -1px 1px green, -1px 1px 1px green,
        1px 1px 1px green;
}

.gradient {
    background: linear-gradient(0deg, white, blue);
    color:transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient2 {
    background: linear-gradient(0deg, white, blue);
    color:transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    text-shadow: -1px -1px 1px red, 1px -1px 1px red, -1px 1px 1px red,
        1px 1px 1px red;
}

.sample {
    background: cadetblue;
    text-shadow: 0px 0px 20px blue;
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: -1px -1px 1px blue, 1px -1px 1px blue, 
-1px 1px 1px blue, 1px 1px 1px blue;

}