html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    text-align: center;
}

p {
    margin:0px;
}

.content {
    font-family: "Kosugi Maru", sans-serif;
    text-align: center;
    background: none;
    text-shadow: 3px 3px 0 #3c3cf0, -3px -3px 0 #3c3cf0, -3px 3px 0 #3c3cf0,
        3px -3px 0 #3c3cf0, 0px 3px 0 #3c3cf0, 0 -3px 0 #3c3cf0,
        -3px 0 0 #3c3cf0, 3px 0 0 #3c3cf0;

    font-size: 3em;
}

.content::after {
    display: block;
    content: attr(data-text);
    background: none;

    text-shadow: none;
    background: linear-gradient(0deg, #83eeff, #d2f8ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-100%);
    z-index: -2;
}